/public/node_modules
/public/image/cache/catalog
/public/_upload
/public/vqmod/vqcache
/public/vqmod/mods.cache
/public/vqmod/checked.cache
/public/vqmod/logs
/public/config.php
/public/admin/config.php
/public/image/catalog/.tmb
/public/image/catalog/.quarantine
/public/system/storage/logs/*
/public/system/storage/cache/*
!/public/system/storage/logs/index.html
!/public/system/storage/cache/index.html
/public/.sass-cache
/vendor
